body{
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.6px;
    background-color: #1A60A5;
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* min-width: 400px; */
}

.row{
    overflow: hidden; 
}


.separatorheader{
    height:56px;
}

.container{
    max-width: 1140px;
}

.placeholdericon{
    /* margin-bottom:40px; */
    padding:0px 12px;
    text-align: left;
}
.contentplaceholdericon{
    padding:10px 10px 10px 20px;
    margin-bottom: 20px;
    position: relative;
    background: transparent;

}

.contentplaceholdericon::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background: rgb(196,24,107);
    background: linear-gradient(90deg, rgba(196,24,107,1) 0%, rgba(242,90,9,1) 50%, rgba(244,115,3,1) 100%);
    transform: skew(-30deg);
}

.logoicon{
    /* background: #f5f6f8; */
    
    border-radius: 8px;
    overflow: hidden;
}

.logoicon img{
    width: 100%;
}

.judulmenu{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    color: white;
}

.headerarea{
    /* max-width: 400px; */
    margin:0 0;
    padding: 20px 0px;
}

.headertitle{
    padding:10px 10px 10px 20px;
    background: rgb(196,24,107);
    background: linear-gradient(90deg, rgba(196,24,107,1) 0%, rgba(242,90,9,1) 50%, rgba(244,115,3,1) 100%);

}

/* membuat logo stick di kiri bawah */
/* .stick-left-bottom{
    position:fixed;
    bottom:0px;
    right:70%;
    overflow: hidden; 

} */

.syarat-permintaan-info{
    color: yellow;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
    background-color:rgba(255, 255, 255, 0.3)
}

.list-pengumuman{
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    background-color:rgba(255, 255, 255, 0.2)
}

.judul-pengumuman{
    font-size: 18px;
    line-height: inherit;
    font-weight: 600;
    letter-spacing: -1px;
    max-width: 667px;
}

.isi-pengumuman, .isi-tentang{
    font-weight: 400;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    background-color:rgba(255, 255, 255, 0.2);
}

table td {
    vertical-align: top;
    font-weight: 500;
}

.tabel-rilis{
    padding-bottom: 100px;
}

.table-rilis td, .table-rilis thead{
    text-align: center
}

.table-rilis tbody tr{
    background: rgba(0, 0, 0, 0.3);
}

.table-rilis tbody tr:nth-child(even){
    background: rgba(255, 255, 255, 0.3);
}

.table-rilis thead{
    vertical-align:top;
    background: linear-gradient(90deg, rgba(196,24,107,1) 0%, rgba(242,90,9,1) 50%, rgba(244,115,3,1) 100%);
}

.tombol-isi-formulir{
    margin-top:30px;
    margin-bottom:30px;
}

.tombol-isi-formulir a{
    background: #E64922;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding:15px 60px;
    text-decoration: none;
}

.info-cs{
    color: darkorange;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
    background-color:rgba(255, 255, 255, 0.3)
}

.kontak-cs{
    color: yellow;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
    background-color:rgba(255, 255, 255, 0.3)
}

.kontak-cs a{
    font-size: 24px;
}

.phoneplacement{ 
    border-radius: 100%;
    max-width: 110px;
    padding: 30px;
    margin: 20px auto;
    background-color:rgba(255, 255, 255, 0.3)

}

iframe{
    width:100%;

}
.phonesvg{
    display: block;
    margin: auto;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1200px) {
    .paddingcontent{
        padding:40px;
    }

    .container{
        padding-right:40px;
        padding-left:40px;
    }
    
    .judulmenu{
        font-size: 23px;
        line-height: 23px;
        
    }

}

@media only screen and (max-width: 1024px){
    .judulmenu{
        font-size: 23px;
        line-height: 23px;
    }
    
}

@media only screen and (max-width: 991px){
    .judulmenu{
        font-size: 18px;
        line-height: 18px;
    }
    .placeholdericon{
        margin-bottom:0px;
        padding:0px 12px;
        text-align: left;
    }
    .contentplaceholdericon{
        padding:10px 20px 10px 20px;
        text-align: left;
    }
    .logoicon{
        margin-bottom:20px;
    }
   
}

@media only screen and (max-width: 767px) {
    .paddingcontent{
        padding:30px 20px;
    }

    .judulmenu{
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0px;
        color: white;
    }

    .logoicon{
        margin-bottom:20px;
    }

    .headerarea{
        /* padding: 20px 20px 0px 20px; */
        padding-top: 0px;
    }
    
    .kontak-cs{
        text-align:center;
    }
}

@media only screen and (max-width: 414px) {
    .container{
        padding:0px 20px;
    }

    .headerarea{
        /* padding: 20px 20px 0px 20px; */
    }
}